<!DOCTYPE html>
<html>

<head>
    <meta name="Dalviroo" content="Dalviroo is hypothetical an on­demand food delivery company and our operations revolve around that single concept.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Dalviroo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
</head>

<body>
    <section class="container">
        <div class="jumbotron custom-jumbotron">
            <nav class="row nav-css">
                <!-- <nav> -->
                <div class="app-links col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <a href="/productOrder"><span>Order Product</span></a>
                </div>
                <div class="app-links col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <a href="/predictOrderQuantity"><span>Predict Order Quantity</span></a>
                </div>
                <div class="app-links col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <a href="/kitchenDisplay"><span>Kitchen Display</span></a>
                </div>
                <div class="app-links col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <a href="/kitchenReport"><span>Report</span></a>
                </div>
                <!-- </nav> -->
            </nav>
        </div>
    </section>
</body>

</html>