<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Predict Order Quantity</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="jumbotron predict-quantity-jumbotron">
                    <div class="predict-order">
                        <h1>Predict Order Quantity</h1>
                        <form name="predictOrderQuantity" action="/predictOrderQuantity" method="POST">
                            <div class="row justify-content-md-center">
                                <div class="dalviroo-form-fields col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><label for="productName">Product:</label></div>
                                <div class="dalviroo-form-fields col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <select id="productName" name="productName">
                                    <% names.forEach(function(product) { %>
                                        <option value="<%=product.Name%>"><%=product.Name%></option>
                                    <% }); %>
                                    </select>
                                </div>
                                <div class="dalviroo-form-fields col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><label for="quantity">Quantity Prediction:</label></div>
                                <div class="dalviroo-form-fields col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><input type="number" name="quantity" id="quantity" required></div>
                                <input class="btn btn-light" id="predict-quantity-btn" type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>